@import '~bootstrap/scss/bootstrap';
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
// Variable
$CommoneNone: none;

a {
  text-decoration: $CommoneNone !important;
}
a:hover {
  text-decoration: $CommoneNone !important;
}
li {
  list-style-type: $CommoneNone;
}
button:focus {
  outline: $CommoneNone;
}
button:hover {
  cursor: pointer;
}
.mt-4 {
  margin-top: 25px;
}
.mb-3 {
  margin-bottom: 16px;
}
.mt-5 {
  margin-top: 45px;
}
$border50: 50%;
// font
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf');
}
// breankpoint mobile and desktop

$break-small: 600px;
$break-tablet: 992px;
$break-large: 1400px;
$padding-responsive: 600px;

// modal
.custom-modal-popup {
  .modal-dialog {
    margin: 0;
    margin-left: auto !important;

    .modal-content {
      background: #f9f9f9;
      box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      .modal-header {
        border: $CommoneNone;
        font-family: Roboto-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000008;
        img {
          margin-right: 18px;
        }
      }
      .modal-footer {
        border: $CommoneNone;

        button {
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.12);
          box-sizing: border-box;
          border-radius: 5px;
          color: #000008 !important;
          height: 45px;
        }
        a {
          font-family: Roboto-Bold;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #000008 !important;
        }
      }
    }
  }
}

// react-autosuggest
.react-autosuggest__container {
  position: relative;
}
.react-autosuggest__input {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  font-family: Roboto-Bold;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.react-autosuggest__input--focused {
  outline: none;
}
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
  display: none;
}
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 69px;
  width: 100%;
  background-color: #fff;
  font-family: Roboto-Bold;
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  // border-bottom-left-radius: 4px;
  // border-bottom-right-radius: 4px;
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  z-index: 2;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

@media screen and (min-width: $break-large) {
  .bg-marketing {
    height: 745px;
  }
  .hero-text-section {
    left: 30%;
  }
}
@media screen and (max-width: $break-tablet) {
  .logo-section {
    margin-bottom: 28px;
  }
  .search-box input {
    position: relative;
  }
  .search-box img.search {
    top: -42px;
  }
  .btn-follow-pink {
    text-align: right;
  }
  .btn-follow-green {
    text-align: right;
  }
  .dashboard-Container {
    padding-top: 20px;
  }
}
@media screen and (max-width: $break-small) {
  .logo-section {
    img {
      width: 75px;
    }
  }
  .dashboard-Container {
    padding: 15px;
  }
}
